.App {
  text-align: center;
}

header {
  background-color: red;
  color: white;
}

.NavBar {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-left: 15px;
  color:white;
  
}

.NavBar a {
  color:white;
  text-decoration: none;
  padding-top: 8px;
}

.search {
  background-color: lightgrey;
  margin-left: 30%;
  margin-right: 30%;
  padding: 10px;
  border-radius: 5px;
}

.search-bar {
  margin: 30px;
}


