.App {
  text-align: center;
}

header {
  background-color: red;
  color: white;
}

.NavBar {
  display: flex;
  justify-content:space-evenly;
}

ul li {
list-style-type: none;
}

ul {
  padding-left: 500px;
}

.search {
  background-color: lightgrey;
  justify-items:right;
}

.search-bar {
  margin: 30px;
}

.no-results {
  display: grid;
  grid-area: 1fr/1fr/span 2/span 1;
  background-color: gray;
  
  
}

.video-card {
  background-color: gray;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}